name: Sandbox deploy-destroy

on:
  push:
    branches: "test-deploy"

permissions:
  id-token: write
  contents: read

jobs:
  sandbox-deploy-destroy:
    runs-on: ubuntu-latest
    env:
      TF_VAR_prefix: "sb"
      TF_VAR_project: "zeta-pivot-272421"
      REGION: "europe-west1"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:

          workload_identity_provider: "projects/536704833487/locations/global/workloadIdentityPools/github-pool-sandbox/providers/github-provider-sandbox"
          service_account: "github-action@zeta-pivot-272421.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: zeta-pivot-272421

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      # Deletes the repo if it exists (using the 'sb' prefix)
      - name: Cleanup Conflicting Resources
        run: |
          REPO_NAME="${{ env.TF_VAR_prefix }}-curamet-repo"
          echo "Checking for existing repository: $REPO_NAME..."

          gcloud artifacts repositories delete $REPO_NAME \
          --location=${{ env.REGION }} \
          --quiet || true

      # use SANDBOX backend configuration
      - name: Terraform Init
        working-directory: terraform
        run: terraform init -backend-config="environments/sandbox/backend.conf"

      # creates the Registry using SANDBOX variables
      - name: Terraform Apply (Infrastructure Layer)
        working-directory: terraform
        run: |
          terraform apply -var-file="environments/sandbox/terraform.tfvars" \
          -target=module.operations \
          -auto-approve

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev -q

      # Build & Push
      - name: Build & Push Docker image
        run: |
          REPO_NAME="${{ env.TF_VAR_prefix }}-curamet-repo"
          SERVICE_NAME="${{ env.TF_VAR_prefix }}-demo-service-v2"
          
          # Image URL constructed with Sandbox Project ID
          IMAGE="${{ env.REGION }}-docker.pkg.dev/${{ env.TF_VAR_project }}/$REPO_NAME/$SERVICE_NAME:${{ github.sha }}"

          docker buildx create --use
          docker buildx build --platform linux/amd64 -t "$IMAGE" --push .

          echo "IMAGE_URL=$IMAGE" >> $GITHUB_ENV

      # Deploy
      - name: Terraform Apply (Service Deployment)
        working-directory: terraform
        run: |
          terraform apply -var-file="environments/sandbox/terraform.tfvars" \
          -var="docker_image_url=${{ env.IMAGE_URL }}" \
          -auto-approve

      # Destroy
      - name: Terraform Destroy
        if: always()
        working-directory: terraform
        run: terraform destroy -var-file="environments/sandbox/terraform.tfvars" -auto-approve